# Global Digital Artist Ranking | 2023-11-22 06:05 EST

In [1]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/itunes/"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Global Digital Artist Ranking | 2023-11-22 06:05 EST

Ranking = soup.find('table',
                   {'class':'sortable'})
Ranking

# Table Headers Global Digital Artist Ranking | 2023-11-22 06:05 EST

headers = []
for i in Ranking.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
dfRanking = pd.DataFrame(columns=headers)
dfRanking

# Table Data Global Digital Artist Ranking | 2023-11-22 06:05 EST

for i in Ranking.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(dfRanking)
    dfRanking.loc[lenght] = rows
dfRanking

<Response [200]>

,Pos,P+,Artist,Points,Apple M,Spotify,iTunes,YouTube,Shazam,Deezer,Top Country,#
0,1,=,Taylor Swift,9025,4842,3319,365,166,67,267,Australia,135
1,2,=,Bad Bunny,4746,2202,1897,34,307,91,215,Spain,90
2,3,=,Drake,4512,3243,990,37,149,59,33,United States,154
3,4,=,Jung Kook,3134,1176,1185,396,220,70,87,Japan,121
4,5,=,The Weeknd,2221,893,1073,43,41,91,81,Australia,133
...,...,...,...,...,...,...,...,...,...,...,...,...
295,296,NEW,Juice WRLD,153,40,103,4,0,0,7,United States,47
296,297,-,Brenda Lee,153,22,109,8,13,0,0,United States,29
297,298,NEW,Nkosazana Daughter,152,52,5,27,49,19,0,South Africa,9
298,299,-,Lin-Manuel Miranda,152,121,29,2,0,0,0,United Kingdom,32
299,300,NEW,Brray,152,19,58,0,72,2,1,Chile,18

# Global Digital Artist Ranking

In [2]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/itunes/extended.html"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Artist Ranking
table_rank = soup.find('table',
                   {'class':'sortable'})
table_rank

# Table Headers Artist Ranking
headers = []
for i in table_rank.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
rank = pd.DataFrame(columns=headers)
rank


# Table Data Artist Ranking
for i in table_rank.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(rank)
    rank.loc[lenght] = rows
rank

<Response [200]>

         Pos                     Artist Points
0          1               Taylor Swift   9025
1          2                  Bad Bunny   4746
2          3                      Drake   4512
3          4                  Jung Kook   3134
4          5                 The Weeknd   2221
...      ...                        ...    ...
14995  14996                    Mr Snyp    1.0
14996  14997              hear-it-chirp    1.0
14997  14998              Sound Support    1.0
14998  14999            Sir Georg Solti    1.0
14999  15000  Rain Sounds Factory STHLM    1.0

[15000 rows x 3 columns]

In [3]:
# Storing into the excel file 
dfRanking.to_excel("Global Digital Artist Ranking & Diffrent Platforms.xlsx",
            index=False)

rank.to_excel("Global Digital Artist Ranking.xlsx",
                      index=False)