# Spotify most streamed artists of all time

In [1]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/spotify/artists.html"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Spotify most streamed artists of all time
table_all_time = soup.find('table',
                   {'class':'addpos sortable'})
table_all_time

# Table Headers Spotify most streamed artists of all time
headers = []
for i in table_all_time.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
dftable_all_time = pd.DataFrame(columns=headers)
dftable_all_time

# Table Data Spotify most streamed artists of all time
for i in table_all_time.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(dftable_all_time)
    dftable_all_time.loc[lenght] = rows
dftable_all_time

<Response [200]>

,Artist,Streams,Daily,As lead,Solo,As feature
0,Drake,"89,427.9",60.021,"60,648.6","34,242.9","28,779.3"
1,Bad Bunny,"71,969.5",51.090,"43,999.6","24,830.1","27,969.9"
2,Taylor Swift,"64,998.7",99.007,"62,611.6","57,030.9","2,387.1"
3,The Weeknd,"56,737.0",38.824,"45,097.1","32,645.3","11,639.9"
4,Ed Sheeran,"49,218.8",16.607,"43,878.7","34,852.6","5,340.1"
...,...,...,...,...,...,...
2995,Capital Inicial,768.5,0.499,768.5,573.8,
2996,Marian Hill,768.4,0.101,590.0,500.0,178.4
2997,Joan Jett & the Blackhearts,768.0,0.570,727.8,723.7,40.2
2998,Slimane,767.9,0.403,281.3,234.0,486.6
2999,Cássia Eller,767.7,0.477,752.7,609.7,15.0

# Spotify top artists by monthly listeners

In [2]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/spotify/listeners.html"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Spotify top artists by monthly listeners
table_monthly = soup.find('table',
                   {'class':'addpos sortable'})
table_monthly

# Table Headers Spotify top artists by monthly listeners
headers = []
for i in table_monthly.find_all('th'):
    col_name = i.text
    headers.append(col_name)
    
# Data Frame Columns Name
dftable_monthly = pd.DataFrame(columns=headers)
dftable_monthly


# Table Data Spotify top artists by monthly listeners
for i in table_monthly.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(dftable_monthly)
    dftable_monthly.loc[lenght] = rows
dftable_monthly

<Response [200]>

             Artist    Listeners Daily Trend  Peak  PkListeners
0      Taylor Swift  109,758,055     130,516     1  109,758,055
1        The Weeknd  103,492,657     -78,001     1  113,034,886
2             Drake   81,679,689    -120,407     3   86,591,246
3         Bad Bunny   79,230,850    -131,248     3   84,533,787
4           Rihanna   78,637,860      11,196     2   80,958,750
...             ...          ...         ...   ...          ...
2495           ZANA    4,267,994      34,625  2496    4,267,994
2496      Anuv Jain    4,267,935      11,823  1403    6,725,261
2497      DJ Scheme    4,263,668       2,505  2164    4,583,605
2498  Jimmy Buffett    4,260,348      -9,111  1229    7,556,191
2499    Dímelo Flow    4,260,174     -12,045  1562    5,516,943

[2500 rows x 5 columns]

# Spotify Most Viewed Artists

In [3]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/youtube/archive.html"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Most Viewed Artists
table_most_viewed= soup.find('table',
                   {'class':'addpos sortable'})
table_most_viewed


# Table Headers Most Viewed Artists
headers = []
for i in table_most_viewed.find_all('th'):
    col_name = i.text
    headers.append(col_name)

# Data Frame Columns Name
df_most_viewed = pd.DataFrame(columns=headers)
df_most_viewed


# Table Data Most Viewed Artists
for i in table_most_viewed.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(df_most_viewed)
    df_most_viewed.loc[lenght] = rows
df_most_viewed

<Response [200]>

                Artist     Total 100M
0            Bad Bunny  31,107.3   73
1                  BTS  30,868.2   68
2        Justin Bieber  28,974.9   38
3           Ed Sheeran  28,454.8   40
4         Taylor Swift  26,950.8   41
...                ...       ...  ...
1714          Rockwell     205.9    1
1715  Valesca Popozuda     205.7    1
1716             Noemi     205.1
1717   Andreas Bourani     203.0
1718        Pixie Lott     201.8

[1719 rows x 3 columns]

# Spotify most streamed songs

In [4]:
# Library
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Sending Request
page_url = "https://kworb.net/spotify/toplists.html"
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36 Edg/119.0.0.0'
}

page = requests.get(page_url,
                    headers = headers)
print(page)

# Beautiful Soup Object
soup = BeautifulSoup(page.content,'html.parser')
soup

# Our Table Spotify most streamed songs
table_streamed = soup.find('table',
                   {'style':'width: 650px;'})

table_streamed


# Table Headers Spotify most streamed songs
headers = []
for i in table_streamed.find_all('th'):
    col_name = i.text
    headers.append(col_name)

# Data Frame Columns Name
dftable_streamed = pd.DataFrame(columns=headers)
dftable_streamed


# Table Data Spotify most streamed songs
for i in table_streamed.find_all('tr')[1:]:
    row_data = i.find_all('td')
    rows = [t.text for t in row_data]
    lenght = len(dftable_streamed)
    dftable_streamed.loc[lenght] = rows
    
dftable_streamed

<Response [200]>

,,Artist and Title,Streams
0,Of all time,The Weeknd - Blinding Lights,"3,906,158,897"
1,From 2023,Miley Cyrus - Flowers,"1,595,656,772"
2,From 2022,Harry Styles - As It Was,"2,825,940,606"
3,From 2021,The Kid LAROI - STAY,"2,838,288,315"
4,From 2020,The Weeknd - Blinding Lights,"3,906,158,897"
5,From 2019,Tones And I - Dance Monkey,"2,941,160,627"
6,From 2018,Lewis Capaldi - Someone You Loved,"3,070,139,909"
7,From 2017,Ed Sheeran - Shape of You,"3,693,945,641"
8,From 2016,Drake - One Dance,"2,864,620,081"
9,From 2015,Justin Bieber - Love Yourself,"2,227,850,121"
10,From 2014,J. Cole - No Role Modelz,"1,956,357,118"
11,From 2013,Ed Sheeran - Thinking out Loud,"2,363,795,592"
12,From 2012,The Neighbourhood - Sweater Weather,"2,506,377,926"
13,From 2011,Adele - Someone Like You,"1,733,304,688"
14,From 2010,Bruno Mars - Just the Way You Are,"1,790,551,919"
15,From 2005-2009,Coldplay - Viva La Vida,"1,774,456,205"
16,From 2000-2004,Eminem - Lose Yourself,"1,953,355,683"
17,From the 90s,Oasis - Wonderwall,"1,810,037,761"
18,From the 80s,The Police - Every Breath You Take,"1,748,300,374"
19,From the 70s,Queen - Bohemian Rhapsody,"2,306,735,321"
20,From the 60s,Marvin Gaye - Ain't No Mountain High Enough,"1,165,491,124"
21,From before the 60s,Bobby Helms - Jingle Bell Rock,"774,369,378"

In [5]:
# Storing into the excel file 
dftable_all_time.to_excel("Spotify most streamed artists of all time.xlsx",
            index=False)

dftable_monthly.to_excel("Spotify top artists by monthly listeners.xlsx",
                      index=False)
 
df_most_viewed.to_excel("Spotify Most Viewed Artists.xlsx",
                   index=False)

dftable_streamed.to_excel("Spotify most streamed songs.xlsx",
                     index=False)